@font-face {
    font-family: 'e Explosive Attack';
    src: url('../font/eExplosiveAttack.woff2') format('woff2'),
        url('../font/eExplosiveAttack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Regular.woff2') format('woff2'),
        url('../font/Ubuntu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'e Explosive Attack';
    font-weight: normal;
}

body {
    font-family: 'Ubuntu';
    font-weight: normal;
}


h1 {
    border: 5px solid red;
}